body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background-color: #ffffff;
  color: #333333;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: .1rem;
  text-align: center;
}

.pc {
  display: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #333333;
  transition: all .5s ease 0s;
}

a:hover {
  text-decoration: none;
  opacity: .8;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  font-size: 1.3rem;
}

.container {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.b-title {
  width: 100%;
  color: #ffffff;
  background-color: #981b1b;
  margin: 0 auto;
  font-size: 1.3rem;
  padding: .3rem 0;
}

.w-title {
  width: 100%;
  color: #981b1b;
  margin: 0 auto;
  font-size: 1.3rem;
  padding-top: 1rem;
}

.contact-btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #F84F50;
  color: #ffffff;
  border: solid 1px #981b1b;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 1.3rem;
  transition: all .3s ease 0s;
  box-sizing: border-box;
  margin: 1rem auto;
}

.contact-btn:hover {
  opacity: .8;
}

.tel-info {
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 5px;
}

header img {
  width: 90%;
}

.why-1 {
  margin: 0 auto;
  padding: 1.5rem 0;
  background-color: #F7F7F7;
}

.why-1 h1 {
  font-size: 1rem;
  margin: 0;
}

.why-1 h1 .large-text {
  display: inline-block;
  font-size: 1.5rem;
  color: #e60000;
}

.reason .container {
  padding: 1rem 0;
}

.advantage {
  background-color: #F7F7F7;
}

.advantage .advantage-list {
  display: inline-block;
}

.advantage .advantage-list li {
  position: relative;
  margin: 2rem auto;
  background-color: #ffffff;
  padding: 1.5rem 1rem;
  height: 3rem;
  display: block;
}

.advantage .advantage-list li .fas {
  color: #981b1b;
}

.advantage .advantage-list li .advantage-item .merit {
  position: absolute;
  display: inline-block;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: bold;
  color: #981b1b;
  border-bottom: 2px dotted #981b1b;
}

.advantage .advantage-list li .advantage-item .item-flex {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.advantage .advantage-list li .advantage-item .item-flex .text-item {
  margin-right: 2.5rem;
  width: 70%;
  font-weight: bold;
  font-size: 1.2rem;
}

.advantage .advantage-list li .advantage-item .item-flex::after {
  position: absolute;
  font-family: FontAwesome;
  content: "\f103";
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #981b1b;
  font-size: 1.5rem;
}

#advantage-2, #advantage-4 {
  background-color: #F7F7F7;
}

.advantage-text {
  text-align: left;
}

.why-2 {
  background-color: #981b1b;
  color: #ffffff;
}

.why-2 .w-title {
  color: #ffffff;
}

.compare {
  background-color: #F7F7F7;
}

.compare table {
  margin: 0;
  width: 100%;
  border-collapse: collapse;
  border: solid 2px #981b1b;
}

.compare table th {
  background-color: #F7F7F7;
}

.compare table th, .compare table td {
  border: dashed 1px #981b1b;
  box-sizing: border-box;
  margin: 0 auto;
}

.review .balloon-left {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.review .balloon-left .icon {
  margin-right: 25px;
}

.review .balloon-left .text {
  box-shadow: 1px 1px 4px;
}

.review .balloon-right {
  margin: 30px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: flex-end;
}

.review .balloon-right .icon {
  margin-left: 25px;
}

.review .balloon-right .text {
  box-shadow: -1px 1px 4px;
}

.review .icon img {
  width: 80px;
}

.review .balloon-right .icon {
  order: 2;
}

.review .text {
  max-width: 500px;
  display: inline-block;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0 1rem;
  border-radius: 5px;
  background: #F7F7F7;
  box-sizing: border-box;
  margin: 0 auto;
}

.review .text:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
}

.review .balloon-left .text:after {
  left: -26px;
  border-right: 25px solid #F7F7F7;
}

.review .balloon-right .text:after {
  right: -26px;
  border-left: 25px solid #F7F7F7;
}

.question .question-accordion {
  position: relative;
  width: 100%;
}

.question .question-accordion .question-article-title {
  text-align: left;
  display: block;
  position: relative;
  margin: 1rem auto;
  padding: 1rem;
  cursor: pointer;
  border: solid 1px #981b1b;
  background-color: #F7F7F7;
}

.question .question-accordion .question-article-title .fa-question-circle {
  color: #981b1b;
}

.question .question-accordion .question-article-title:hover,
.question .question-accordion .question-article-title:active,
.question .question-accordion .content-entry.open .question-article-title {
  text-decoration: underline;
}

.question .question-accordion .question-article-title {
  position: relative;
}

.question .question-accordion .question-article-title:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 38%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 10px;
  height: 10px;
  border-top: solid 3px #981b1b;
  border-right: solid 3px #981b1b;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.question .question-accordion .question-article-title.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

.question .question-accordion .question-accordion-content {
  text-align: left;
  display: none;
  padding: .5rem;
  font-weight: 600;
  color: #981b1b;
}

.flow .flow-accordion {
  position: relative;
  width: 100%;
}

.flow .flow-accordion .flow-article-title {
  display: block;
  position: relative;
  margin: 1rem auto;
  padding: .2rem;
  cursor: pointer;
  background-color: #981b1b;
}

.flow .flow-accordion .flow-article-title .step {
  margin: 0 auto;
  background-color: #ffffff;
  color: #981b1b;
  padding: .3rem;
}

.flow .flow-accordion .flow-article-title .flow-title {
  margin: 0 auto;
  padding: .3rem;
  color: #ffffff;
}

.flow .flow-accordion .flow-article-title {
  position: relative;
}

.flow .flow-accordion .flow-article-title:after {
  content: "";
  position: absolute;
  right: 110px;
  top: 15%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 10px;
  height: 10px;
  border-top: solid 3px #981b1b;
  border-right: solid 3px #981b1b;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.flow .flow-accordion .flow-article-title.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 20%;
}

.flow .flow-accordion .flow-accordion-content {
  text-align: left;
  display: none;
  padding: .5rem;
  font-weight: 600;
  color: #981b1b;
}

.contact {
  background-color: #F7F7F7;
}

.contact .btn2 {
  color: #ffffff;
}

footer {
  background-color: #F7F7F7;
}

footer .b-title {
  margin-top: 0;
}
